name: kasir
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=3.7.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  http: ^1.2.0
  shared_preferences: ^2.2.3
  intl: ^0.19.0
  image: 4.2.0
  permission_handler: ^11.3.0
  path_provider: ^2.1.1
  pdf: ^3.10.4
  printing: ^5.12.0
  open_file: ^3.3.2
  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/icon/poko.jpg
